@charset "UTF-8";
/* CSS Document */
a[href^=tel] { color: inherit; text-decoration: none; }
/****************************************************************************
*****************************************************************************
MAIN
*****************************************************************************
*****************************************************************************/
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #72584c;
}
/*************************************
main DESKTOP
*************************************/
@media only screen and (min-width : 1280px){
	h1 {
		font-family: 'Oswald', sans-serif;
		font-size: 48px;
		line-height: 1.05em;
	}
	h2 {
		font-family: 'Oswald', sans-serif;
		font-size: 36px;
		line-height: 1.25em;
	}
	h3 {
		font-family: 'Oswald', sans-serif;
		font-size: 28px;
		line-height: 1.25em;
	}
	h4 {
		font-family: 'Oswald', sans-serif;
		font-size: 22px;
	}
	p {
		font-family: 'Quattrocento', serif;
		font-size: 16px;
		line-height: 1.375em;
	}
	
}


/*************************************
main TABLET
*************************************/
@media only screen and (min-width : 768px ){
	h1 {
		font-family: 'Oswald', sans-serif;
		font-size: 40px;
		line-height: 1.125em;
	}
	h2 {
		font-family: 'Oswald', sans-serif;
		font-size: 32px;
		line-height: 1.25em;
	}
	h3 {
		font-family: 'Oswald', sans-serif;
		font-size: 24px;
		line-height: 1.25em;
	}
	p {
		font-family: 'Quattrocento', serif;
		font-size: 16px;
		line-height: 1.375em;
	}
}


/*************************************
main MOBILE
*************************************/
@media only screen and (max-width : 767px) {
	h1 {
		font-family: 'Oswald', sans-serif;
		font-size: 32px;
		line-height: 1.25em;
	}
	h2 {
		font-family: 'Oswald', sans-serif;
		font-size: 26px;
		line-height: 1.15384615em;
	}
	h3 {
		font-family: 'Oswald', sans-serif;
		font-size: 22px;
		line-height: 1.13636364em;
	}
	p {
		font-family: 'Quattrocento', serif;
		font-size: 16px;
		line-height: 1.25em;
	}
}

/****************************************************************************
*****************************************************************************
NAVIGATION
*****************************************************************************
*****************************************************************************/
body {margin:0;}

/*************************************
navigation MOBILE
*************************************/
@media only screen and (max-width : 904px) {
	.navbar {
		display: none;
	}
	.mobilenavigation {
		position: fixed;
		width: 100%;
		z-index:200;
	}
	.navmobile{
	width:100%; 
	background:#333; 
	height:90px;
	padding-top: 15px;
	padding-left: 15px;
	line-height:60px;
	border-bottom:1px solid #dddddd;
}
.hamburger{
  background:none;
  position:absolute;
  top:15px;
  right:15px;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:white;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:15px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:white;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
	z-index:1000000; 
	font-weight:bold; 
	font-size:0.8em; 
	width:100%; 
	background:#f1f1f1;  
	position:absolute; 
	text-align:center; 
	font-size:12px;
	}
.menu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none;
	}
.menu li {
	display: block;   
	padding:15px 0 15px 0; 
	border-bottom:#dddddd 1px solid;
	}
.menu li:hover{
	display: block;    
	background:#ffffff; 
	padding:15px 0 15px 0; 
	border-bottom:#dddddd 1px solid;
	}
.menu ul li a { 
	text-decoration:none; 
	margin: 0px; 
	color:#666;
	}
.menu ul li a:hover {  
	color: #666; 
	text-decoration:none;
	}
.menu a{
	text-decoration:none; 
	color:#666;
	}
.menu a:hover{
	text-decoration:none; 
	color:#666;
	}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}
}

/*************************************
navigation DESKTOP & TABLET
*************************************/
@media only screen and (min-width : 904px) {
 /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
	padding: 30px 30px 10px 30px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
	z-index: 10;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
	color: #72584c;
}

.navfloatleft {
	float: left;
}

.navfloatright {
	float: right;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

}

/****************************************************************************
*****************************************************************************
SHOPPING
*****************************************************************************
*****************************************************************************/
* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

.column p, h4 {
	color: black;
}



/*************************************
shopping DESKTOP & TABLET
*************************************/
@media only screen and (min-width : 768px) {
	.main {
		padding-top:
			35px;
		}
}

/*************************************
shopping image MOBILE
*************************************/
@media only screen and (max-width : 768px) {
	.main {
		padding-top: 80px;
	}
}

/* Center website */
.main {
    max-width: 90%;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover, .active {
  background-color: #ddd;
}

/*************************************
shopping MOBILE
*************************************/

@media only screen and (max-width : 769px) {
	* {
	box-sizing: border-box;
	}

	body {
		background-color: #f1f1f1;
		padding: 20px;
		font-family: Arial;
	}

	/* Center website */
	.main {
		max-width: 90%;
		margin: auto;
	}

	h1 {
		font-size: 50px;
		word-break: break-all;
	}

	.row {
		margin: 10px -16px;
	}

	/* Add padding BETWEEN each column */
	.row,
	.row > .column {
		padding: 8px;
	}

	/* Create three equal columns that floats next to each other */
	.column {
		float: left;
		width: 50%;
		display: none; /* Hide all elements by default */
	}

	/* Clear floats after rows */ 
	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	/* Content */
	.content {
		background-color: white;
		padding: 10px;
	}

	/* The "show" class is added to the filtered elements */
	.show {
	  display: block;
	}

	/* Style the buttons */
	.btn {
	  border: none;
	  outline: none;
	  padding: 12px 16px;
	  background-color: white;
	  cursor: pointer;
	  margin-bottom: 12px;
	}

	.btn:hover, .active {
	  background-color: #ddd;
	}
}

/****************************************************************************
*****************************************************************************
FOOTER
*****************************************************************************
*****************************************************************************/

/*************************************
footer DESKTOP
*************************************/


*{box-sizing:border-box}
html{background:white;}
footer {background: white; color: black; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; text-align: center; padding: 2em 0;}

#contact{
  clear: both;
  width:100%;
margin: 0 auto;
 overflow: hidden;
}

#contact p {
	color: white;
}

	.fa {
	  padding: 10px;
	  font-size: 30px;
	  width: 35px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	  border-radius: 50%;
	}

	#email {
		font-family: 'Quattrocento', serif;
		font-size: 16px;
		text-decoration: none;
		color: white;
	}

	#email:hover {
		color: #72584c;
	}
	.fa:hover {
		color: #72584c;
	}

	.fa-facebook {
	  background: black;
	  color: white;
	}


	.fa-instagram {
	  background: black;
	  color: white;
	}

.col{
    width: 33.333%;
    height:250px;
    float: left;
    text-align: left;
    padding:3rem;
	color: white;
	background: #333;
}

footer{
    clear:both;
}


/*************************************
footer TABLET
*************************************/
@media only screen and (max-width:768px){
    .col1, .col2{
        width:50%;
    }
    .col3{
        width:100%;
    }
	
	#socialmediaheading {
		display: none;
	}
	
	.social-media {
		text-align: center;
	}
	
	.col3 {
		padding: 0rem;
		height: 80px;
		}
	
	.col1, .col2 {
		height: 200px;
	}
}




/*************************************
footer MOBILE
*************************************/
@media only screen and (max-width:480px){
    .col{
       float: none;
       width:100%;
	   text-align: center;
    }

}